body {
  background: transparent;
  font-family: 'Barrio', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.timer-container {
  text-align: center;
  position: relative;
}

.time-info {
  font-size: 24px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin: 0 auto;
  color: #ff6347; /* 공부중 기본 숫자색 */
}

.tomato-wrapper {
  position: relative;
}

#tomato {
  width: 350px;
  cursor: pointer;
  transition: transform 0.3s, opacity 60s; /* 60초 페이드 효과 */
  z-index: 1;
}

#tomato:active {
  transform: scale(1.1);
}

#break-button {
  width: 180px;
  position: absolute;
  bottom: -30px;
  right: 20px; /* 약간 왼쪽으로 */
  cursor: pointer;
  transition: transform 0.3s;
  z-index: 2;
}

#break-button:active {
  transform: scale(1.1);
}

.progress-bar {
  background: #ffe0d1;
  width: 320px;
  height: 10px;
  border-radius: 999px;
  margin-top: 0px;
  overflow: hidden;
  margin: 10px auto 40px auto;
}

#progress {
  background: linear-gradient(90deg, #ff6240, #ffa95d); /* 기본 공부용 트래킹바 */
  width: 0%;
  height: 100%;
  transition: width 1s linear;
}

.watermark {
  font-size: 16px;
  color: #8B4513;
  position: absolute;
  bottom: 10px;
  right: 20px;
}
