body {
  background: transparent;
  font-family: 'Barrio', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.timer-container {
  text-align: center;
  position: relative;
}

.time-info {
  font-size: 24px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin: 0 auto;
  color: #ff6347;
}

.tomato-wrapper {
  position: relative;
}

#tomato {
  width: 350px;
  cursor: pointer;
  transition: transform 0.3s, opacity 1s;
}

#tomato:active {
  transform: scale(1.1);
}

#break-button {
  width: 90px;
  position: absolute;
  bottom: -10px;
  right: -20px;
  cursor: pointer;
  transition: transform 0.3s;
}

#break-button:active {
  transform: scale(1.1);
}

.progress-bar {
  background: #ffe0d1;
  width: 320px;
  height: 10px;
  border-radius: 999px;
  margin-top: 10px;
  overflow: hidden;
  margin: 10px auto;
}

#progress {
  background: linear-gradient(90deg, #ff6240, #ffa95d);
  width: 0%;
  height: 100%;
  transition: width 1s linear;
}

.watermark {
  font-size: 16px;
  color: #80c904;
  position: absolute;
  bottom: 0px;
  right: 20px;
}

