body {
  background: #fff6f0;
  font-family: 'Barrio', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.timer-container {
  text-align: center;
  position: relative;
}

.time-info {
  font-size: 24px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin: 0 auto;
  color: #ff6347;
}

.tomato-wrapper {
  position: relative;
}

#tomato {
  width: 300px;
  cursor: pointer;
  transition: transform 0.3s;
}

#tomato:active {
  transform: scale(1.05);
}

#break-button {
  width: 60px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
}

.progress-bar {
  background: #ffe0d1;
  width: 320px;
  height: 10px;
  border-radius: 999px;
  margin-top: 20px;
  overflow: hidden;
  margin: 20px auto;
}

#progress {
  background: linear-gradient(90deg, #ff6240, #ffa95d);
  width: 0%;
  height: 100%;
  transition: width 1s linear;
}

.watermark {
  font-size: 14px;
  color: #aaa;
  position: absolute;
  bottom: 10px;
  right: 20px;
}
